.homeDiv {
  min-height: 100vh;
  position: relative;
}

.homePage {
  position: relative;
  min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
  padding-top: var(--navbar-height);
  }



